@model _Libary.Models.BookViewModel

<h1>DeleteBook</h1>



<div class="container">

    <div class="row">
<div class="col col-md-3">
    <style>
    .boldTextClass {
    font-weight:bold;
}
    </style>
  <p class="boldTextClass"> Are you sure you want to delete "@Model.BookTitle"?</p> 
    <form asp-action="RemoveBook" method="Post">
        <div class="form-group">

            <input type="hidden" asp-for="BookID" />
       </div>
     
         <div class="form-group">

            <label></label>
            <input type="submit" class="btn btn-danger" value="Delete"/>
       </div>
    </form>

<div>

 

</div>
</div>