@model IEnumerable<_Libary.Models.ReviewViewModel>

@{
    ViewData["Title"] = "ViewReview";
}

<h1>Reviews </h1>
<div>

    @if (ViewBag.Success != null && ViewBag.Success == true)
    {
        <div class="alert alert-success">@ViewBag.Message</div>
    }
    else if (ViewBag.Success != null && ViewBag.Success == false)
    {
        <div class="alert alert-danger">@ViewBag.Message</div>
    }

</div>
<div>

    @if(Model!=null)
    {
          @foreach (var item in @Model)
         {
            <ul class="list-group">
                <li class="list-group-item">@item.Review</li>
            </ul>
         }
    }

</div>
<div>
</div>
